services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ddbj-search-front-${DDBJ_SEARCH_ENV}
    volumes:
      - .:/app:rw
      - node_modules:/app/node_modules
      - pnpm-store:/app/.pnpm-store
    environment:
      TZ: ${TZ:-Asia/Tokyo}
      DDBJ_SEARCH_ENV: ${DDBJ_SEARCH_ENV}
      DDBJ_SEARCH_BASE_URL: ${DDBJ_SEARCH_BASE_URL}
      DDBJ_SEARCH_FRONT_URL_PREFIX: ${DDBJ_SEARCH_FRONT_URL_PREFIX}
    ports:
      - 0.0.0.0:3000:3000
    working_dir: /app
    command: ${DDBJ_SEARCH_FRONT_COMMAND}
    networks:
      - ddbj-search-network
    init: true
    ulimits:
      nofile:
        soft: 65535
        hard: 65535

networks:
  ddbj-search-network:
    name: ddbj-search-network-${DDBJ_SEARCH_ENV}
    external: true

volumes:
  node_modules:
    driver: local
  pnpm-store:
    driver: local
