@import "tailwindcss";
@import "tailwindcss/theme";
@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-fire-bush-50: #f6f2ef;
  --color-fire-bush-100: #fdd8ba;
  --color-fire-bush-200: #fbbf8e;
  --color-fire-bush-300: #f9a662;
  --color-fire-bush-400: #f88d35;
  --color-fire-bush-500: #f67409;
  --color-fire-bush-600: #ca5f07;
  --color-fire-bush-700: #9d4a06;
  --color-fire-bush-800: #713504;
  --color-fire-bush-900: #452002;
  --color-fire-bush-950: #190c01;
  --color-fire-bush: var(--color-fire-bush-500);
  --color-link-primary: var(--color-fire-bush-500);
  --color-link-primary-hover: var(--color-fire-bush-300);
  --color-bg-primary: var(--color-fire-bush-700);
  --color-text-primary: var(--color-stone-700);
}

body {
  color: var(--color-text-primary);
}

.ddbjApp {
  display: flex;
  flex-direction: column;

  #DDBJ_CommonHeader,
  #DDBJCommonBottomMenu,
  #DDBJCommonFooter {
    max-width: 100vw;
    overflow: auto;
  }

  #DDBJ_CommonHeader {
    order: 1;
  }

  .ddbjApp__main {
    order: 2;
  }

  #DDBJCommonBottomMenu {
    order: 3;
  }

  #DDBJCommonFooter {
    order: 4;
  }

  input[placeholder="Search"] {
    height: 42px !important;
  }
}
